<ion-menu [content]="nav">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button *ngIf="usuarioAutenticado" ion-item (click)="onCargar(rootPage)">
        <ion-icon name="book"></ion-icon>
        Lista de recetas
      </button>
      <button *ngIf="!usuarioAutenticado" ion-item (click)="onCargar(registroPage)">
        <ion-icon name="person"></ion-icon>
        No tienes cuenta?
      </button>
      <button *ngIf="!usuarioAutenticado" ion-item (click)="onCargar(iniciarSesionPage)">
        <ion-icon name="log-in"></ion-icon>
        Iniciar sesión
      </button>
      <button *ngIf="usuarioAutenticado" ion-item (click)="onCerrarSesion()">
        <ion-icon name="log-out"></ion-icon>
        Cerrar sesión
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>
